.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Harvard Meals
      .nav-collapse
        %ul.nav
          %li.active{:href => "#"}
            %a Home
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Contact

#main_content
  .menu.well.span6
    %h1 Dining Hall Menu
    = render :partial => "menu_header"
    
    = render :partial => "dishes"
  
  - unless @no_dishes || @failed_to_load
    .dish_info.well.span4
      %h2 Dish Details
      %p.muted Click a dish to see its ingredients and nutritional information.