.menu {

  &.well {
    padding: 20px;
  }

  .menu_header {
    height: 40px;
    margin-left: -10px;
    .nav {
      float: left;
      margin: 0;
    }
    
    .today, .test {
      margin-left: 10px;
      float: right;
    }
  }
  
  .dishes {
    
    .no_dishes, .failed_to_load {
      margin-top: 10px;
      font-size: 14px;
    }

    table {
      background-color: white;    
    }
    
    .label {
      float: right;
    }
    
    thead {
      color: white;
      background-color: #3A87AD;
    }
    
    tbody {
      .label {
        margin-left: 5px;
      }
    }
    
  }
}

.dish_info {
  .facts {
  }

  table {
    background: white;
    margin-top: 2px;
    width: 100%;
    
    tr {
      text-align: left;  
    }
  }
}

.well {
  background: #f1f1f1;
}

.table-striped tbody tr:nth-child(odd) td {
  background-color: #ECF5FD;
}


#footer {
  margin-bottom: 20px;
  color: #777;
  clear: both;
}